.loader-container {
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;

  span.status {
    font-weight: 500;
    font-size: 20px;
    font-weight: 500;
    color: var(--widget-text-color);
    text-align: center;
  }
}
