.widget-button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  height: 50px;
  font-size: 16px;
  transition: all 0.2s;
}

.primary-button {
  background: var(--widget-blue);
  color: var(--widget-button-text-color);
  border: 1px solid var(--widget-blue);
}

.primary-button:hover {
  background: var(--widget-dark-blue);
  border: 1px solid var(--widget-dark-blue);
}

.secondary-button {
  border: 1px solid var(--widget-stroke);
  color: var(--widget-text-color);
  background: transparent;
}

.secondary-button:hover {
  border: 1px solid var(--widget-blue);
  background: var(--widget-light-blue);
}
