.payment-status-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  gap: 32px;
}

.status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  span.status {
    font-weight: 500;
    font-size: 20px;
    font-weight: 500;
    color: var(--widget-text-color);
  }
}

@media (max-width: 768px) {
  .status-container {
    gap: 20px;

    span.status {
      font-size: 18px;
    }
  }
}

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 235px;
}
