.crypto-title {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
}

.button-text {
  color: var(--mui-palette-primary-main);
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  height: 300px;
  overflow-y: auto;
}

.list-container::-webkit-scrollbar {
  background-color: var(--widget-background-color);
  width: 16px;
}

.list-container::-webkit-scrollbar-track {
  background-color: var(--widget-background-color);
}

.list-container::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid var(--widget-background-color);
}

.list-container::-webkit-scrollbar-button {
  display: none;
}

.crypto-item {
  display: flex;
  height: 66px;
  width: 100%;
  padding: 8px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--widget-grey-light);
  border-radius: 8px;
  transition: 0.2s all;
}

.selected {
  background-color: var(--widget-stroke);
}

.item-data-container {
  display: flex;
  align-items: center;
  gap: 12px;

  svg {
    width: 50px;
    height: 50px;
    border-radius: 8px;
  }
}
.item-data {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
  color: var(--widget-grey);

  span.title {
    color: var(--widget-text-color);
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
  }
}

.search-input-container {
  border-radius: 8px;
  padding: 16px 12px;
  display: flex;
  gap: 12px;
  align-items: center;
  border: 1px solid var(--widget-stroke);
  transition: 0.2s all;
}

.input {
  font-size: 16px;
  width: 100%;
  border: none;
  outline: none;
  background: none;
  font-family: Inter;
  color: var(--widget-text-color);
}

.disconnect-button {
  border-radius: 8px;
  transition: all 0.2s;
  border: 1px solid var(--widget-light-red);
  color: var(--widget-red);
  background: var(--widget-light-red);
  padding: 12px;
  cursor: pointer;
  font-size: 16px;
}

.disconnect-button:hover {
  border: 1px solid var(--widget-red);
}

.connect-wallet-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  div.back {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--widget-blue);
  }
}

.connect-wallet-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
  color: var(--widget-blue);
}

.token-logo {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background-color: gray;
}

.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
