.container {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 32px;
}

.crypto-title {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
}

.timer {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--widget-blue);
  color: var(--widget-blue);
  border-radius: 6px;
}

.input-title {
  color: var(--widget-grey);
}

.network-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pay-field {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pay-data-container {
  display: flex;
  height: 62px;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--widget-grey-light);
}

.fail {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.connect-wallet-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
