.widget-container {
  background-color: var(--widget-background-color);
  color: var(--widget-text-color);
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.step-title {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
}

.step-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 32px;
}

.footer-button-container {
  display: flex;
  gap: 16px;
}

.center {
  display: flex;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.title {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.loader {
  border: 8px solid var(--widget-background-color);
  border-left-color: var(--widget-blue);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 32px;

  div.text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    font-weight: 500;
    font-size: 20px;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .widget-container {
    max-width: 360px;
  }

  .step-container {
    max-width: 360px;
    gap: 16px;
  }

  .step-title {
    font-size: 20px;
  }
}
